@model IEnumerable<WebApplication1.Models.Delinquent>
@{
    ViewData["Title"] = "Delinquents";
}
<h1>Delinquents</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th> @Html.DisplayNameFor(model => model.LastName)</th>
            <th> @Html.DisplayNameFor(model => model.FirstMidName)</th>
            <th> @Html.DisplayNameFor(model => model.RecentViolation)</th>
            <th>Available actions: </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var delinquent in Model)
        {
            <tr>
                <td> @Html.DisplayFor(modelItem => delinquent.LastName)</td>
                <td> @Html.DisplayFor(modelItem => delinquent.FirstMidName)</td>
                <td> @Html.DisplayFor(modelItem => delinquent.RecentViolation)</td>
                <td>
                    <a asp-action="Details" asp-route-id="@delinquent.ID" class="btn btn-outline-secondary">Details</a>
                    <a asp-action="Edit" asp-route-id="@delinquent.ID" class="btn btn-info">Edit</a>
                    <a asp-action="Clone" asp-route-id="@delinquent.ID" class="btn btn-secondary">Duplicate</a>
                    @*<a asp-action="Honor" asp-route-id="@delinquent.ID" class="btn btn-secondary">Clear record</a>*@
                    <a asp-action="Delete" asp-route-id="@delinquent.ID" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>